main {
    width: 100%;
    min-height: 100vh;
    background-color: #aaaaaa;
    display: flex;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    outline: none;
    cursor: pointer;
    
    width: 60px;
    height: 60px;
    border-radius: 8px;
    font-size: 24px;
}

strong {
    margin: 24px 20px 0;
}